<h3>RecipeSkeleton</h3>
<MudItem xs="8">
    <MudSkeleton></MudSkeleton>

    <MudCard>

        <MudSkeleton Height="300px" SkeletonType="SkeletonType.Rectangle"></MudSkeleton>
        <MudCardActions>
            <MudItem>

                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
            </MudItem>
        </MudCardActions>
        <MudCardContent>
            <MudGrid>

                <MudItem xs="6">
                    <MudCard Elevation="2">

                        <MudCardContent>

                            <MudSkeleton></MudSkeleton>
                        </MudCardContent>
                        <MudCardActions>

                            <MudSkeleton></MudSkeleton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="2">
                    <MudCard>
                        <MudSkeleton></MudSkeleton>
                        <MudCardContent>
                            <MudItem>

                                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                                <MudSkeleton SkeletonType="SkeletonType.Circle"></MudSkeleton>
                            </MudItem>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="4">

                    <MudSkeleton SkeletonType="SkeletonType.Rectangle">
                    </MudSkeleton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudItem>
<MudItem xs="4">

    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="500px"></MudSkeleton>

    </MudCard>
</MudItem>
@code {

}
